<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home - The Timer</title>
  <%-include('components/Header.ejs')%>
</head>
<body>
  <main>
    <h1>The Timer</h1>
    <div class="divider"></div>
    <nav>
      <a href="/about">About</a>
      <a href="/timer">Timer</a>
      <a href="/admin">Admin</a>
    </nav>
  </main>
</body>
</html>
