<!DOCTYPE html>
<html lang="en">
<head>
  <title>Timer - The Timer</title>
  <%-include('components/Header.ejs')%>
</head>
<body>
  <main>
    <h1><span id="minutes">00</span>:<span id="seconds">00</span></h1>
  </main>
  <script type="module" src="/public/scripts/timer.js"></script>
</body>
</html>
